.header-box{
    height: 50px;
    background: #1C1B20;
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    display: flex;
    /* line-height: 50px; */
}
.location-box{
    line-height: 50px;
    overflow: hidden;
    width: 2.42rem;
}
.search-box{
    height: 30px;
    border-radius: 15px;
    background-color: #fff;
    margin-top: 10px;
    margin-right: 10px;
    flex: 1;
}
.search-box .icon-soushuo{
    color:#1C1B20;
    /* float: left; */
    margin:8px 0 0 10px;
}
.search-box input{
    /* float: left; */
    width: 2.8rem;
    height: 30px;
    border: none;
    outline: none;
    margin-left: 5px;
}